<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width, minimum-scale-1.0, initial-scale-1, user-scalable-yes">
    <title>Title</title>
    <script src="../../webcomponentsjs/webcomponents-lite.js"></script>
    <link rel="import" href="../../simple-search/simple-search.html">
</head>
<body>
    <div>
        <div style="width: 700px">
            <p>Static mode</p>
            <simple-search></simple-search>
        </div>
        <div style="width: 700px">
            <p>Dynamic mode</p>
            <simple-search></simple-search>
        </div>
    </div>
</body>
</html>